body {
  background-image: url("/tatra.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

#container {
  display: flex;
  justify-content: center;
}

#sidebar {
  flex: 0 0 12em;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #000040;
  color: white;
}

#content {
  flex: 0 1 48em;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
}

a {
  color: #0040ff;
}

#sidebar a {
  color: #0080ff;
}

a:active, #sidebar a:active {
  color: #ff8000;
}

#sidebar hr {
  color: white;
}
