body {
  background-color: #202020;
  color: white;
  font-family: sans-serif;
  max-width: 50em;
  padding: 8px;
  margin: auto;
}

a {
  color: lightblue;
}

a:active {
  color: orangered;
}

pre {
  display: inline-block;
  background-color: #404040;
  width: fit-content;
  padding: 5px;
  margin: 0;
  border-radius: 5px;
}

code {
  background-color: #404040;
  padding: 2px;
  border-radius: 5px;
}

