body {
  background-image: url("/tatra.webp");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  color: #ffffff;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
}

nav {
  flex: 0 0 192px;
  padding-left: 8px;
  padding-right: 8px;
  border-right: 2px solid #ffffff;
  background-color: #202020;
  font-family: monospace;
}

nav div {
  position: sticky;
  top: 16px;
}

nav header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

nav header img {
  margin-right: 8px;
}

nav header p {
  margin: 0;
}

article {
  flex: 0 1 768px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #000000c0;
  font-family: sans-serif;
}

#articleContainer {
  transition: opacity 0.125s ease-in;
}

#articleContainer.loading {
  opacity: 0;
  transition: opacity 0.125s ease-out;
}

circl-title {
  display: none;
}

/*
https://html.spec.whatwg.org/multipage/rendering.html#sections-and-headings
Prevent h1 resizing
*/
h1 {
  margin-block: 0.67em;
  font-size: 2.00em;
  font-weight: bold;
}

hr {
  color: #ffffff;
  border-style: solid;
}

a {
  color: #0080ff;
  transition: color 0.5s ease-out;
}

a:hover {
  color: #ffffff;
  transition: none;
}
