body {
  font-family: sans-serif;
  max-width: 50em;
  padding: 1em;
  margin: auto;
}

pre {
  background-color: lightgray;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

code {
  background-color: lightgray;
  padding: 2px;
  border-radius: 5px;
}
