body {
  background-attachment: fixed;
  background-image: url("/tatra.webp");
  background-position: bottom;
  background-size: cover;
  color: #ffffff;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
}

nav {
  background-color: #202020;
  font-family: monospace;
  padding-left: 8px;
  padding-right: 8px;
}

nav header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 16px;
}

#logoImage {
  margin-right: 8px;
}

#logoText {
  margin: 0;
}

nav p {
  margin-bottom: 0;
}

nav ul {
  list-style-type: "> ";
  margin-top: 0;
}

article {
  background-color: #000000c0;
  font-family: sans-serif;
  padding-left: 8px;
  padding-right: 8px;
}

#articleContainer {
  transition: opacity 0.125s ease-in;
}

#articleContainer.loading {
  opacity: 0;
  transition: opacity 0.125s ease-out;
}

@media (max-width: 600px) or (max-height: 600px) {
  body {
    margin: 0;
  }
  
  main {
    flex-direction: column;
  }
  
  nav {
    border-bottom: 2px solid #ffffff;
  }
}

@media not ((max-width: 600px) or (max-height: 600px)) {
  nav {
    border-right: 2px solid #ffffff;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    flex: 0 0 192px;
  }
  
  #navContainer {
    position: sticky;
    top: 16px;
  }
  
  article {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    flex: 0 1 768px;
  }
}

circl-title {
  display: none;
}

/*
https://html.spec.whatwg.org/multipage/rendering.html#sections-and-headings
Prevent h1 resizing
*/
h1 {
  font-size: 2.00em;
  font-weight: bold;
  margin-block: 0.67em;
}

hr {
  border-style: solid;
  color: #ffffff;
}

a {
  color: #00b0ff;
  transition: color 0.5s ease-out;
}

@media (hover: hover) {
  a:hover {
    color: #ffffff;
    transition: none;
  }
}

@media not (hover: hover) {
  a:active {
    color: #ffffff;
    transition: none;
  }
}
